emacs/.emacs.d/adinapoli/flycheck_adinapoli*
emacs/.emacs.d/projectile.cache
emacs/.emacs.d/elpa/
emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/.org-id-locations
emacs/.emacs.d/abbrev_defs
emacs/.emacs.d/eshell/
emacs/.emacs.d/undo/
emacs/.emacs.d/var/
emacs/.emacs.d/url/
emacs/.emacs.d/auto-save-list/
emacs/.emacs.d/projectile-bookmarks.eld
ghci/.ghc/ghci_history
mutt/.mutt/temp/*
tags
nvim/.config/nvim/.netrwhist
