#------------------------------------------------------------
# Vi Key Bindings
#------------------------------------------------------------

# Moving around
bind attach,browser,index       g   noop
bind attach,browser,index       gg  first-entry
bind attach,browser,index       G   last-entry
bind pager                      g  noop
bind pager                      gg  top
bind pager                      G   bottom
bind pager                      k   previous-line
bind pager                      j   next-line
bind index <space>  collapse-thread

#Sidebar
bind pager,index <up> sidebar-prev
bind pager,index <down> sidebar-next
bind pager,index <right> sidebar-open


# Scrolling
bind attach,browser,pager,index \CF next-page
bind attach,browser,pager,index \CB previous-page
bind attach,browser,pager,index \Cu half-up
bind attach,browser,pager,index \Cd half-down
bind browser,pager              \Ce next-line
bind browser,pager              \Cy previous-line
bind index                      \Ce next-line
bind index                      \Cy previous-line

bind pager,index                d   noop

# Threads
bind browser,pager,index        N   search-opposite
bind pager,index                dT  delete-thread
bind pager,index                dt  delete-subthread
bind pager,index                gt  next-thread
bind pager,index                gT  previous-thread
bind index                      za  collapse-thread
bind index                      zA  collapse-all # Missing :folddisable/foldenable

# Opening urls in Mutt

macro pager l "<enter-command>unset wait_key<enter><pipe-message>urlscan<enter>" "Follow links with urlscan"
macro index S "<enter-command>unset wait_key<enter><shell-escape>mutt-notmuch-py \
~/mail/temporary/search<enter><change-folder-readonly>+temporary/search<enter>" "search mail (using notmuch)"
